@using BussinessObject;
<html>

<head>
    <!-- Load Base -->
    @RenderPage("_Base.cshtml");
</head>

<body>
    <!-- Content -->
    <div class="container">
        @{
            Validation.RequireField("user_name", "Please enter a Username");
            Validation.RequireField("password", "Please enter a Password");

            if (IsPost)
            {
                string inputUsername = Request.Form["user_name"];
                string inputPassword = Request.Form["password"];
                if (Validation.IsValid())
                {
                    Login login = new Login(inputUsername, inputPassword);

                    if (login.Validate())
                    {
                        //Successful login code here
                        <p class="red lighten-2">
                            username: @inputUsername <br />
                            encriptPass: @login.EncriptPass <br />
                        </p>
                    }
                    else
                    {
                        <p class="red lighten-2">
                            *Error: Username and/or Password does not match with the system <br />
                        </p>
                    }
                }
            }
        }
        <form class="col s12" method="post">
            <div class="row">
                <h2>Login</h2>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="user_name" type="text" class="validate" value="@Request.Form["user_name"]">
                    <label for="user_name">Username</label>
                    @Html.ValidationMessage("user_name")
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="password" type="password" class="validate">
                    <label for="password">Password</label>
                    @Html.ValidationMessage("password")
                </div>
            </div>
            <div class="row ">
                <div class="col s12 m6 l4">
                    <a href="#!" class="btn waves-effect waves-light">forgot password</a>
                </div>
                <div class="col s12 m6 l4">
                    <a href="#!" class="btn waves-effect waves-light">forgot username</a>
                </div>
                <div class="col offset-s6 offset-m9 offset-l1">
                    <button class="btn-large waves-effect waves-light" type="submit" name="action">login</button>
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <h4>New User?</h4>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <a href="newAccount.html" class="btn waves-effect waves-light">create new acount</a>
                </div>
            </div>

        </form>
    </div>

</body>

</html>